html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.book {
  height: 18rem;
  width: 30rem;
}

.book:hover {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition: all 1s;
  transition: all 1s;
  outline: 1rem dashed goldenrod;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wordeffect {
  position: relative;
}

.summer {
  width: 40rem;
  position: relative;
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
          clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  -webkit-transition: 2s;
  transition: 2s;
}

.summer:hover {
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
  opacity: 0;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background-color: #ff5722;
  margin: 1rem auto;
  font-size: 2rem;
  border-radius: 10rem;
  -webkit-transition: all 0.666s;
  transition: all 0.666s;
  position: relative;
  opacity: 0.5;
}

.btn-yellow {
  background-color: #ff5722;
  color: #fff;
}

.btn:hover {
  opacity: 1;
  color: black;
  -webkit-box-shadow: 0px 10px 0.5rem rgba(0, 0, 0, 0.6);
          box-shadow: 0px 10px 0.5rem rgba(0, 0, 0, 0.6);
  background-color: yellow;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.computer {
  height: 20rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.computer:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  outline: 1rem double red;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn2,
.btn2:link,
.btn2:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background-color: #00b0ff;
  margin: 1rem auto;
  font-size: 2rem;
  border-radius: 10rem;
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
  position: relative;
}

.btn2:hover {
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
  color: white;
  text-transform: unset;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 80vw;
  margin: 2rem auto;
}
/*# sourceMappingURL=style.css.map */