@import "_variables.scss";
@import "_book.scss";
@import "_summer.scss";
@import "_btn.scss";
@import "_computer.scss";
@import "_btn2.scss";

html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
    width: 80vw;
    margin: 2rem auto;
}